<section>
    <h1 class="text-main my-2 text-center">Forgot Password</h1>

   @if (steps==1) {
    <form [formGroup]="verifyEmail" class="bg-main-light rounded-3 shadow p-3 my-5" (ngSubmit)="verifyEmailSubmit()">
        <div class="my-2">
            <label for="email">email:</label>
            <input formControlName="email" type="email" id="email" class="form-control">
            @if(verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty)   ){
                <p class=" alert alert-danger mt-2">Your Email is Invalid</p>
            }
        </div>
        <button class="btn-main" [disabled]="verifyEmail.invalid || isLoading ">Verify Email
            @if (isLoading) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
              }
        </button>
        </form>
   }


   @else if (steps==2) {
        <form [formGroup]="verifyCode" class="bg-main-light rounded-3 shadow p-3 my-5" (ngSubmit)="verifyCodeSubmit()">
            <div class="my-2">
                <label for="resetCode">reset code:</label>
                <input formControlName="resetCode" type="text" id="resetCode" class="form-control">
                @if(verifyCode.get('resetCode')?.errors && (verifyCode.get('resetCode')?.touched || verifyCode.get('resetCode')?.dirty)   ){
                    <p class=" alert alert-danger mt-2">Reset code is invalid or has expired</p>
                }
            </div>
            <button class="btn-main" [disabled]="verifyCode.invalid || isLoading ">Verify Email
                @if (isLoading) {
                    <span><i class="fas fa-spin fa-spinner"></i></span>
                  }
            </button>
                </form>
    }


   @else if (steps==3) {
    <form [formGroup]="resetPassword" class="bg-main-light rounded-3 shadow p-3 my-5" (ngSubmit)="resetPasswordSubmit()">
        <div class="my-2">
            <label for="email">email:</label>
            <input readonly formControlName="email" type="email" id="email" class="form-control">
            @if(resetPassword.get('email')?.errors && (resetPassword.get('email')?.touched || resetPassword.get('email')?.dirty)   ){
                <p class=" alert alert-danger mt-2">Your Email is Invalid</p>
            }
        </div>
        <div class="my-2">
            <label for="password">New Password:</label>
            <input formControlName="newPassword" type="password" id="password" class="form-control">
            @if(resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty)   ){
                <p class=" alert alert-danger mt-2">Your Password is Invalid</p>
            }
        </div>
        <button class="btn-main" [disabled]="resetPassword.invalid || isLoading ">Verify Email
            @if (isLoading) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
              }
        </button>
    </form>

   }
</section>