@if (productDetails) {
    <section>
        <h1 class="text-main my-2">Details Product</h1>
        <div class="row align-items-center">
            <div class="col-md-3">
                <div><img [src]="productDetails.imageCover" class="w-100" [alt]="productDetails.title"></div>
            </div>
            <div class="col-md-9">
                <div>
                    <h3>{{productDetails.title}}</h3>
                    <p class="text-muted">{{productDetails.description}}</p>
                    <p class="fw-semibold">{{productDetails.category.name}}</p>
    
                    <div class="d-flex justify-content-between align-items-center">
                        <span>{{productDetails.price}} EGP</span>
                        <div>
                            @for (star of [0,1,2,3,4].slice(0,productDetails.ratingsAverage); track $index) {
                            <span><i class="fas fa-star rating-color"></i></span>
                        }
                        @if (productDetails.ratingsAverage! %1 !==0) {
                            <i class="fa-solid fa-star-half-stroke rating-color"></i>                    }
                        <span class="text-muted">{{productDetails.ratingsAverage}}</span>
                        </div>
                    </div>
                   </div>
                   <button class="btn-main w-100 my-2" (click)="addToCart(productDetails.id)"><i class="fa-solid fa-cart-shopping me-2"></i> +Add To Card</button>

                </div>
            </div>
        
    </section>
}
